body, html {
    background-image: url("../data/bg.jpg");
    background-size: cover;
    background-color: #1C3971;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
     padding-bottom: 2%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 5em;
    color: #e6e6e6;
    letter-spacing: 20px;
    margin: 0;
     text-align: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    color: #9CAFD4;
    letter-spacing: 3px;
    text-align: center;
}

#nav {
    margin: 0;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #071D49;
}

ul {
    margin: 0;
}

li {
    display: inline;
    margin-right: 2em;
    font-weight: 300;
    color: #fefefe;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: #fefefe;
    outline: none;
}


a:visited {
    color: #fefefe;
}

a:hover {
   color: #9CAFD4;
}

#form {
    color: #9CAFD4;
    text-align: center;
    padding: 1em;
    font-weight: 300;
}

a.button, #signUpButt, #logInButt {
    background: none;
    border: solid 1px #eeeeff;
    color: #eeeeff;
    font-weight: 200;
    margin-left: 0.5em;
}

a.button:hover, #signUpButt:hover, #logInButt:hover {
    background-color: #eeeeff;
    color: #1C3971;
    border: solid 1px #eeeeff;
    font-weight: 700;
}

input {
    text-align: left;
    color: #1C3971;
    font-weight: 500;
}

#sessions {
    background-color: rgba(0,0,0,0.6);
    font-weight: 200;
    padding: 2em;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 10px;
}

.session {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0,0,0,0.4);
    font-weight: 200;
    padding: 1em;
    margin: 0.4em;
    margin-bottom: 1em;
}

h5 {
    font-size: 1em;
    font-weight: 200;
    color: #9CAFD4;
}

#formLabels{
    text-align: right;
}

#instructions {
    display: none;
}

#instructions > p {
    text-align: left;
    line-height: 1.5em;
    color: #fefefe;
    margin-top: 1.2em;
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
}

#resultsWrapper {
    display: none;
}

ol{
    display: inline-block;
}


.selectable {
    background-color: rgba(255,255,255, 0.65);
    color: #111;
    font-size: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 2px;
    cursor: pointer;
}

.selectable:hover {
    background-color: rgba(255,255,255, 0.75);
}

.ui-selected {
   background-color: rgba(255,255,255, 1);
}

#levelOptions {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: left;
}